html{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#todo-form{
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex:1;
    padding: 10px;
    border: 1px;
    border-radius: 4px;
    margin-right: 10px;
}

button{
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
}

button:hover {
    background-color: #6fd587;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    transition: opacity 1s ease-out;
    opacity: 1;
    margin-bottom: 10px; /* Add spacing between todo items */
}

.todo-item.fading {
    opacity: 0;
}

.todo-item:last-child {
    margin-bottom: 0; /* Remove spacing for the last item */
}

.todo-item span {
    flex: 1;
    margin-right: 10px;
}

.todo-item button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-item button:hover {
    background-color: #e76f7d;
}   